.img-card-fit {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.img-cont {
    height: 200px;
    overflow: hidden;
    background-color: beige;
}

.card-content {
    height: 150px;
    overflow: auto;
}

main {
    min-height: calc(100vh - 100px);
}

.fa {
    color: white;
}

.checked {
    color: orange;
}

.offcanvas-top {
    height: fit-content;
}

h3 {
    color: white;
}

p {
    color: grey;
    font-size: 1.5em;
}

#offcanvasTopLabel {
    font-size: 3em;
}